body {
    background-color: rgb(241, 239, 234);
    font-family: Arial, sans-serif;
}


form {
    background-color: #fff;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"], select {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.error-message {
    color: red;
    margin-top: 5px;
}